html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    color: #808080;
    font-family: "Open Sans";
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

// i {
//     font-family: 'Open Sans', sans-serif !important;
// }

@import './layout.scss';
@import './headernavbar.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';
// Auth
@import './page-title.scss';
@import './form-field.scss';
@import './details.scss';
// Account
@import './account/account.scss';
@import './account/account-information.scss';
@import './account/purchase-history.scss';
// Shop
@import './shop/shop.scss';
@import './shop/shop-search-bar.scss';
@import './shop/shop-product.scss';
// Cart
@import './shop/shop-cart.scss';
@import './shop/cart-product.scss';
// Quantity
@import './quantity.scss';
@import './green-price-tag.scss';
// Order
@import './order/review.scss';

